Repository meifhuang/fis-demos-public: changes, and which lint-staged commands are due for each by the changed paths.
All: ./scripts/sqlfluff lint, supabase db lint, scripts/check-schema-staged, eslint src, ./scripts/yamllint

Update Supabase and add generated schema (#17)
  .github/workflows/ci.yml
  .lintstagedrc.json
  .sqlfluffignore
  README.md
  package-lock.json
  package.json
  scripts/check-schema-staged
  scripts/db-dump
  supabase/schema/public/tables/fake_learner_profiles/table.sql
  supabase/schema/public/tables/fake_learner_profiles/triggers.sql
  supabase/schema/public/tables/source_materials/table.sql
  supabase/schema/public/tables/source_materials/triggers.sql
Due: ./scripts/sqlfluff lint, supabase db lint, ./scripts/yamllint

Rename `fake_learner_profiles` table & add `experience` (#19)
  supabase/migrations/20251202185306_rename_fake_learner_profiles.sql
  supabase/migrations/20251202190231_add_experience_to_learner_profiles.sql
  supabase/schema/public/tables/learner_profiles/table.sql
  supabase/schema/public/tables/learner_profiles/triggers.sql
  supabase/seed.sql
  supabase/tests/learner_profiles_test.sql
Due: ./scripts/sqlfluff lint, supabase db lint, scripts/check-schema-staged

Drop Supabase DB testing (#21)
  .github/workflows/ci.yml
  README.md
  package.json
  supabase/tests/learner_profiles_test.sql
  supabase/tests/source_materials_test.sql
Due: ./scripts/sqlfluff lint, supabase db lint, ./scripts/yamllint

Create `course_outlines` table (#20)
  package-lock.json
  package.json
  supabase/migrations/20251202202400_create_course_outlines.sql
  supabase/schema/public/tables/course_outlines/table.sql
  supabase/schema/public/tables/course_outlines/triggers.sql
  supabase/seed.sql
Due: ./scripts/sqlfluff lint, supabase db lint, scripts/check-schema-staged

Course Outline Edit (#23)
  package-lock.json
  package.json
  src/app/(demos)/_components/List.tsx
  src/app/(demos)/course-outline/[courseId]/_components/ContentBlockDisplay.tsx
  src/app/(demos)/course-outline/[courseId]/_components/LessonSection.tsx
  src/app/(demos)/course-outline/[courseId]/_hooks/useCourseOutlineData.ts
  src/app/(demos)/course-outline/[courseId]/edit/page.tsx
  src/app/(demos)/course-outline/_components/CourseOutlineListRecord.spec.tsx
  src/app/(demos)/course-outline/_components/CourseOutlineListRecord.tsx
  src/app/(demos)/course-outline/_store/index.ts
  src/app/(demos)/course-outline/_store/keys.ts
  src/app/(demos)/course-outline/_store/useCourseOutlineDetail.ts
  src/app/(demos)/course-outline/_store/useCourseOutlines.ts
  src/app/(demos)/course-outline/_store/useCourseOutlinesList.ts
  src/app/(demos)/course-outline/_store/useUpdateCourseOutline.ts
  src/app/(demos)/course-outline/page.tsx
  src/app/(demos)/layout.tsx
  src/app/api/course-outlines/[id]/route.tsx
  src/app/api/course-outlines/courseOutlineApi.ts
  src/app/api/course-outlines/route.tsx
  src/components/BackButton.tsx
  src/components/editable-fields/InlineEditableField.tsx
  src/components/editable-fields/InlineEditableFieldDisplay.tsx
  src/components/editable-fields/InlineEditableFieldEdit.tsx
  src/types/demos/course-outline/index.ts
Due: eslint src

Course Outline View (#24)
  package-lock.json
  src/app/(demos)/course-outline/[courseId]/_components/BlockSection.tsx
  src/app/(demos)/course-outline/[courseId]/_components/ContentBlockDisplay.tsx
  src/app/(demos)/course-outline/[courseId]/_components/CourseOverviewSkeleton.tsx
  src/app/(demos)/course-outline/[courseId]/_components/EditableBlockSection.tsx
  src/app/(demos)/course-outline/[courseId]/_components/LessonItemSkeleton.tsx
  src/app/(demos)/course-outline/[courseId]/_components/LessonSection.tsx
  src/app/(demos)/course-outline/[courseId]/_hooks/useCourseOutlineData.ts
  src/app/(demos)/course-outline/[courseId]/edit/page.tsx
  src/app/(demos)/course-outline/[courseId]/page.tsx
  src/app/(demos)/course-outline/_store/index.ts
  src/app/(demos)/course-outline/_store/useUpdateCourseOutline.ts
  src/app/(demos)/layout.tsx
  src/app/providers.tsx
  src/types/demos/course-outline/index.ts
Due: eslint src

Added new DemoCard to dashboard for Lesson Plan (#31)
  public/lesson-plan-thumbnail.png
  src/app/(demos)/lesson-plan/page.tsx
  src/app/__tests__/Dashboard.test.tsx
  src/app/page.tsx
Due: eslint src

Add Quiz List (#32)
  e2e/Dashboard.spec.ts
  e2e/base-test.ts
  src/app/(demos)/quiz-generator/_components/QuizListRecord.tsx
  src/app/(demos)/quiz-generator/_store/index.ts
  src/app/(demos)/quiz-generator/_store/keys.ts
  src/app/(demos)/quiz-generator/_store/useDeleteQuiz.ts
  src/app/(demos)/quiz-generator/_store/useQuizList.ts
  src/app/(demos)/quiz-generator/page.tsx
  src/app/api/quizzes/quizAPI.ts
  src/app/api/quizzes/route.tsx
  src/types/demos/quiz-generator/index.ts
Due: eslint src

Set up a test DB helper (#25)
  .env.example
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
  scripts/db-reset-test.js
  scripts/db-reset-test.sql
  src/test/index.ts
  src/test/test-schema.spec.ts
  src/test/test-schema.ts
  vitest.config.ts
  vitest.setup.ts
Due: ./scripts/sqlfluff lint, supabase db lint, eslint src, ./scripts/yamllint

Fixed form validation bug. Navigates to edit page after creation (#30)
  src/app/(demos)/course-outline/create/page.tsx
Due: eslint src

Disable parallelism in CI & remove pre-commit tests (#35)
  .github/workflows/ci.yml
  .husky/pre-commit
  package.json
Due: ./scripts/yamllint

Connect course outlines index to Supabase (#33)
  e2e/demos/course-outline/CourseOutlineList.spec.ts
  eslint.config.mjs
  src/app/(demos)/course-outline/_components/CourseOutlineListRecord.spec.tsx
  src/app/(demos)/course-outline/_components/CourseOutlineListRecord.tsx
  src/app/(demos)/course-outline/_fetchers/getCourseOutlines.spec.ts
  src/app/(demos)/course-outline/_fetchers/getCourseOutlines.ts
  src/app/(demos)/course-outline/_fetchers/index.ts
  src/app/(demos)/course-outline/_models/CourseOutline.spec.ts
  src/app/(demos)/course-outline/_models/CourseOutline.ts
  src/app/(demos)/course-outline/_models/index.ts
  src/app/(demos)/course-outline/_store/useCourseOutlinesList.ts
  src/app/(demos)/course-outline/page.tsx
  src/app/(demos)/personalized-content/_components/PersonalizedContentListRecord.spec.tsx
  src/app/api/course-outlines/courseOutlineApi.ts
  src/app/api/course-outlines/route.spec.ts
  src/app/api/course-outlines/route.tsx
  src/components/learner-profile/LearnerProfileChip.spec.tsx
  src/lib/learner-profiles/components/LearnerProfileCard.spec.tsx
  src/lib/learner-profiles/components/LearnerProfileCard.tsx
  src/lib/learner-profiles/components/LearnerProfileChip.spec.tsx
  src/lib/learner-profiles/components/LearnerProfileChip.tsx
  src/lib/learner-profiles/components/__snapshots__/LearnerProfileCard.spec.tsx.snap
  src/lib/learner-profiles/components/__snapshots__/LearnerProfileChip.spec.tsx.snap
  src/lib/learner-profiles/index.ts
  src/lib/learner-profiles/models/LearnerProfile.spec.ts
  src/lib/learner-profiles/models/LearnerProfile.ts
  src/test/factory.ts
  src/test/index.ts
  vitest.config.ts
Due: eslint src

Lesson Plan List View (#39)
  e2e/Dashboard.spec.ts
  e2e/base-test.ts
  e2e/pages/dashboard.pom.ts
  e2e/pages/demos/lesson-plan/lessonPlan.pom.ts
  e2e/routes.ts
  src/app/(demos)/lesson-plan/_components/LessonPlanListRecord.spec.tsx
  src/app/(demos)/lesson-plan/_components/LessonPlanListRecord.tsx
  src/app/(demos)/lesson-plan/_store/keys.ts
  src/app/(demos)/lesson-plan/_store/useLessonOutlineDelete.ts
  src/app/(demos)/lesson-plan/_store/useLessonOutlineList.ts
  src/app/(demos)/lesson-plan/page.tsx
  src/app/api/lesson-plan/[id]/route.ts
  src/app/api/lesson-plan/lessonPlanListApi.ts
  src/app/api/lesson-plan/route.tsx
  src/types/demos/lesson-plan/index.ts
Due: eslint src

Correct type issues & add type checks (#37)
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  src/app/(demos)/course-outline/_components/CourseOutlineListRecord.spec.tsx
  src/app/(demos)/course-outline/_fetchers/getCourseOutlines.spec.ts
  src/app/(demos)/course-outline/_models/CourseOutline.spec.ts
  src/app/api/course-outlines/route.spec.ts
  src/components/learner-profile/LearnerProfileChip.spec.tsx
  src/lib/learner-profiles/components/LearnerProfileChip.spec.tsx
  src/lib/learner-profiles/models/LearnerProfile.spec.ts
  src/lib/supabase.spec.ts
  src/test/factory.spec.ts
  src/test/factory.ts
Due: eslint src, ./scripts/yamllint

Connect course outline detail view to Supabase (#38)
  .husky/pre-commit
  src/app/(demos)/course-outline/[courseId]/_components/BlockSection.tsx
  src/app/(demos)/course-outline/[courseId]/_components/LessonItemSkeleton.tsx
  src/app/(demos)/course-outline/[courseId]/page.tsx
  src/app/(demos)/course-outline/_components/CourseOutlineListRecord.tsx
  src/app/(demos)/course-outline/_fetchers/getCourseOutline.spec.ts
  src/app/(demos)/course-outline/_fetchers/getCourseOutline.ts
  src/app/(demos)/course-outline/_fetchers/index.ts
  src/app/(demos)/course-outline/_models/CourseOutline.spec.ts
  src/app/(demos)/course-outline/_models/CourseOutline.ts
  src/app/(demos)/course-outline/_store/useCourseOutline.ts
  src/app/api/course-outlines/[id]/get.spec.ts
  src/app/api/course-outlines/[id]/get.ts
  src/app/api/course-outlines/[id]/route.tsx
  src/app/api/course-outlines/route.spec.ts
  src/lib/learner-profiles/components/LearnerProfileChip.tsx
  src/lib/learner-profiles/components/__snapshots__/LearnerProfileChip.spec.tsx.snap
  src/providers/QueryProvider.tsx
  supabase/seed.sql
Due: ./scripts/sqlfluff lint, supabase db lint, eslint src

Connect course outline deletion to Supabase (#46)
  src/app/(demos)/course-outline/_components/CourseOutlineListRecord.tsx
  src/app/(demos)/course-outline/_services/deleteCourseOutline.ts
  src/app/(demos)/course-outline/_services/index.ts
  src/app/(demos)/course-outline/_store/useDeleteCourseOutline.ts
  src/app/api/course-outlines/[id]/delete.spec.ts
  src/app/api/course-outlines/[id]/delete.ts
  src/app/api/course-outlines/[id]/route.tsx
Due: eslint src

Connect backend to personalized content (#52)
  package-lock.json
  src/app/(demos)/personalized-content/_components/PersonalizedContentListRecord.spec.tsx
  src/app/(demos)/personalized-content/_components/PersonalizedContentListRecord.tsx
  src/app/(demos)/personalized-content/_fetchers/deletePersonalizedContent.ts
  src/app/(demos)/personalized-content/_fetchers/generatePersonalizedContent.ts
  src/app/(demos)/personalized-content/_fetchers/getPersonalizedContentList.spec.ts
  src/app/(demos)/personalized-content/_fetchers/getPersonalizedContentList.ts
  src/app/(demos)/personalized-content/_fetchers/index.ts
  src/app/(demos)/personalized-content/_models/PersonalizedContent.spec.ts
  src/app/(demos)/personalized-content/_models/PersonalizedContent.ts
  src/app/(demos)/personalized-content/_models/index.ts
  src/app/(demos)/personalized-content/_store/getPersonalContentList.ts
  src/app/(demos)/personalized-content/_store/index.ts
  src/app/(demos)/personalized-content/_store/useDeletePersonalizedContent.ts
  src/app/(demos)/personalized-content/_store/useMockPersonalizedContentList.ts
  src/app/(demos)/personalized-content/page.tsx
  src/app/api/personalized-content/[id]/delete.ts
  src/app/api/personalized-content/[id]/route.tsx
  src/app/api/personalized-content/route.spec.ts
  src/app/api/personalized-content/route.tsx
  src/test/factory.ts
  supabase/schema/public/tables/personalized_content/table.sql
Due: ./scripts/sqlfluff lint, supabase db lint, eslint src

Consolidate query provider components
  src/app/providers.tsx
  src/providers/QueryProvider.tsx
Due: eslint src

Remove _markdown prefix from lesson_plans table in Supabase (#57)
  src/types/database.ts
  supabase/migrations/20251218195635_change_lessonplan_remove_suffix.sql
  supabase/schema/public/tables/lesson_plans/table.sql
  supabase/seed.sql
Due: ./scripts/sqlfluff lint, supabase db lint, scripts/check-schema-staged, eslint src

Add basic index of learner profiles (#56)
  src/app/learner-profiles/page.tsx
  src/lib/learner-profiles/index.ts
Due: eslint src

Add source materials API (#59)
  src/app/api/source-materials/[id]/delete.spec.ts
  src/app/api/source-materials/[id]/delete.ts
  src/app/api/source-materials/[id]/put.spec.ts
  src/app/api/source-materials/[id]/put.ts
  src/app/api/source-materials/[id]/route.tsx
  src/app/api/source-materials/get.spec.ts
  src/app/api/source-materials/get.ts
  src/app/api/source-materials/post.spec.ts
  src/app/api/source-materials/post.ts
  src/app/api/source-materials/route.ts
  src/test/factory.ts
Due: eslint src

Add source material services (#61)
  src/features/source-materials/index.ts
  src/features/source-materials/models/SourceMaterial.spec.ts
  src/features/source-materials/models/SourceMaterial.ts
  src/features/source-materials/services/createSourceMaterial.spec.ts
  src/features/source-materials/services/createSourceMaterial.ts
  src/features/source-materials/services/deleteSourceMaterial.spec.ts
  src/features/source-materials/services/deleteSourceMaterial.ts
  src/features/source-materials/services/getSourceMaterials.spec.ts
  src/features/source-materials/services/getSourceMaterials.ts
  src/features/source-materials/services/updateSourceMaterial.spec.ts
  src/features/source-materials/services/updateSourceMaterial.ts
  tsconfig.json
Due: eslint src

Add source material hooks (#62)
  src/features/source-materials/hooks/useCreateSourceMaterial.spec.ts
  src/features/source-materials/hooks/useCreateSourceMaterial.ts
  src/features/source-materials/hooks/useDeleteSourceMaterial.spec.ts
  src/features/source-materials/hooks/useDeleteSourceMaterial.ts
  src/features/source-materials/hooks/useSourceMaterials.spec.ts
  src/features/source-materials/hooks/useSourceMaterials.ts
  src/features/source-materials/hooks/useUpdateSourceMaterial.spec.ts
  src/features/source-materials/hooks/useUpdateSourceMaterial.ts
  src/features/source-materials/index.ts
  src/features/source-materials/models/SourceMaterial.spec.ts
  src/features/source-materials/models/SourceMaterial.ts
Due: eslint src

Create pull_request_template.md (#70)
  pull_request_template.md
Due: none

Lesson Plan Added GET and DELETE APIs for specific lessons (id) (#72)
  src/app/(demos)/lesson-plan/[id]/page.tsx
  src/app/api/lesson-plan/[id]/delete.spec.ts
  src/app/api/lesson-plan/[id]/delete.ts
  src/app/api/lesson-plan/[id]/get.spec.ts
  src/app/api/lesson-plan/[id]/get.ts
  src/app/api/lesson-plan/[id]/route.ts
Due: eslint src

Personalized content edit routing (#64)
  src/app/(demos)/personalized-content/[ContentId]/hooks/useEditPersonalizedContent.ts
  src/app/(demos)/personalized-content/_models/PersonalizedContent.ts
  src/app/(demos)/personalized-content/_services/getPersonalizedContent.spec.ts
  src/app/(demos)/personalized-content/_services/getPersonalizedContent.ts
  src/app/(demos)/personalized-content/_services/index.ts
  src/app/(demos)/personalized-content/_services/putPersonalizedContent.spec.ts
  src/app/(demos)/personalized-content/_services/putPersonalizedContent.ts
  src/app/(demos)/personalized-content/_store/index.ts
  src/app/(demos)/personalized-content/_store/keys.ts
  src/app/(demos)/personalized-content/_store/useGetPersonalizedContent.ts
  src/app/(demos)/personalized-content/_store/useUpdatePersonalizedContent.ts
  src/app/(demos)/personalized-content/create/page.tsx
  src/app/api/personalized-content/[id]/get.spec.ts
  src/app/api/personalized-content/[id]/get.ts
  src/app/api/personalized-content/[id]/put.spec.ts
  src/app/api/personalized-content/[id]/put.ts
  src/app/api/personalized-content/[id]/route.tsx
Due: eslint src

Quiz create (#51)
  e2e/Dashboard.spec.ts
  e2e/base-test.ts
  e2e/demos/quiz-generator/QuizCreate.spec.ts
  e2e/demos/quiz-generator/QuizList.spec.ts
  e2e/pages/demos/quiz-generator/quizCreate.pom.ts
  e2e/pages/demos/quiz-generator/quizList.pom.ts
  e2e/pages/demos/quizGenerator.pom.ts
  playwright.config.ts
  src/app/(demos)/_store/useDeprecatedLearnerProfiles.ts
  src/app/(demos)/quiz-generator/_components/QuizListRecord.spec.tsx
  src/app/(demos)/quiz-generator/_components/QuizListRecord.tsx
  src/app/(demos)/quiz-generator/_fetchers/getQuizzes.spec.ts
  src/app/(demos)/quiz-generator/_services/createQuiz.spec.ts
  src/app/(demos)/quiz-generator/_services/createQuiz.ts
  src/app/(demos)/quiz-generator/_services/deleteQuiz.spec.ts
  src/app/(demos)/quiz-generator/_services/deleteQuiz.ts
  src/app/(demos)/quiz-generator/_services/getQuizzes.spec.ts
  src/app/(demos)/quiz-generator/_services/getQuizzes.ts
  src/app/(demos)/quiz-generator/_services/index.ts
  src/app/(demos)/quiz-generator/_store/useCreateQuiz.ts
  src/app/(demos)/quiz-generator/_store/useDeleteQuiz.ts
  src/app/(demos)/quiz-generator/_store/useQuizList.ts
  src/app/(demos)/quiz-generator/create/_components/SourceLessonSelector.tsx
  src/app/(demos)/quiz-generator/create/page.tsx
  src/app/api/quizzes/create/route.tsx
  src/components/learner-profile/LearnerProfileCard.spec.tsx
  src/components/learner-profile/LearnerProfileCard.tsx
  src/components/learner-profile/LearnerProfileChip.spec.tsx
  src/components/learner-profile/LearnerProfileChip.tsx
  src/components/learner-profile/__snapshots__/LearnerProfileCard.spec.tsx.snap
  src/types/demos/quiz-generator/index.ts
  src/types/index.ts
  src/types/profiles/index.ts
  src/types/sources/index.ts
Due: eslint src

Personalized content llm (#77)
  src/app/(demos)/personalized-content/[contentId]/page.tsx
  src/app/(demos)/personalized-content/_store/useMockLessonList.ts
  src/app/(demos)/personalized-content/create/page.tsx
  src/app/api/personalized-content/generate/route.ts
Due: eslint src

Lesson Plan - Added LLM generation (#80)
  e2e/pages/demos/lesson-plan/lessonPlanCreate.pom.ts
  src/app/(demos)/lesson-plan/_services/generateLessonPlan.ts
  src/app/(demos)/lesson-plan/_services/saveLessonPlan.ts
  src/app/(demos)/lesson-plan/_store/keys.ts
  src/app/(demos)/lesson-plan/_store/useLessonPlanCreate.ts
  src/app/(demos)/lesson-plan/_store/useLessonPlanGenerate.ts
  src/app/(demos)/lesson-plan/_store/useLessonPlanSave.ts
  src/app/(demos)/lesson-plan/create/page.tsx
  src/app/(demos)/personalized-content/[ContentId]/_components/PersonalizedContentSkeleton.tsx
  src/app/(demos)/personalized-content/[ContentId]/_hooks/useEditPersonalizedContent.ts
  src/app/(demos)/personalized-content/[ContentId]/edit/page.tsx
  src/app/(demos)/personalized-content/[ContentId]/page.tsx
  src/app/api/lesson-plan/generate/route.tsx
  src/app/api/lesson-plan/route.tsx
  src/lib/llm-generation/schemas/lessonPlan.zod.ts
  src/types/demos/lesson-plan/index.ts
Due: eslint src

Quiz api improvements (#66)
  e2e/pages/demos/quiz-generator/quizCreate.pom.ts
  src/app/(demos)/_store/useDeprecatedLearnerProfiles.ts
  src/app/(demos)/quiz-generator/create/page.tsx
  src/app/api/quizzes/[quizID]/delete.spec.ts
  src/app/api/quizzes/[quizID]/delete.ts
  src/app/api/quizzes/[quizID]/get.spec.ts
  src/app/api/quizzes/[quizID]/get.ts
  src/app/api/quizzes/[quizID]/put.spec.ts
  src/app/api/quizzes/[quizID]/put.ts
  src/app/api/quizzes/[quizID]/route.tsx
  src/test/factory.ts
  src/types/demos/quiz-generator/index.ts
Due: eslint src

Add Services for Quiz Editing (#82)
  src/app/(demos)/quiz-generator/_models/Quiz.ts
  src/app/(demos)/quiz-generator/_services/getQuiz.spec.ts
  src/app/(demos)/quiz-generator/_services/getQuiz.ts
  src/app/(demos)/quiz-generator/_services/index.ts
  src/app/(demos)/quiz-generator/_services/putQuiz.spec.ts
  src/app/(demos)/quiz-generator/_services/putQuiz.ts
Due: eslint src

Quiz editing (#83)
  src/app/(demos)/quiz-generator/[quizID]/_components/QuestionSkeleton.tsx
  src/app/(demos)/quiz-generator/[quizID]/_components/QuizSkeleton.tsx
  src/app/(demos)/quiz-generator/[quizID]/_hooks/useEditQuiz.ts
  src/app/(demos)/quiz-generator/[quizID]/edit/_components/EditableAnswer.tsx
  src/app/(demos)/quiz-generator/[quizID]/edit/_components/EditableQuestion.tsx
  src/app/(demos)/quiz-generator/[quizID]/edit/page.tsx
  src/app/(demos)/quiz-generator/_models/Quiz.ts
  src/app/(demos)/quiz-generator/_store/index.ts
  src/app/(demos)/quiz-generator/_store/useQuiz.ts
  src/app/(demos)/quiz-generator/_store/useQuizList.ts
  src/app/(demos)/quiz-generator/_store/useUpdateQuiz.ts
  src/app/(demos)/quiz-generator/create/page.tsx
  src/app/api/quizzes/[quizID]/put.ts
  src/app/api/quizzes/create/route.tsx
  src/test/factory.ts
  src/types/demos/quiz-generator/index.ts
  supabase/seed.sql
Due: ./scripts/sqlfluff lint, supabase db lint, eslint src

Lesson Plan - Adding markdown rendering (#85)
  package-lock.json
  package.json
  src/app/(demos)/lesson-plan/[id]/edit/page.tsx
  src/app/(demos)/lesson-plan/[id]/page.tsx
  src/app/(demos)/lesson-plan/_components/LessonPlanListRecord.tsx
  src/app/globals.css
Due: eslint src

Setup view page (#86)
  src/app/(demos)/quiz-generator/[quizID]/_components/Answer.tsx
  src/app/(demos)/quiz-generator/[quizID]/edit/_components/EditableAnswer.tsx
  src/app/(demos)/quiz-generator/[quizID]/page.tsx
Due: eslint src

Lesson Plan - Integrate Source Material table from DB (#91)
  e2e/demos/lesson-plan/LessonPlanCreate.spec.ts
  e2e/pages/demos/lesson-plan/lessonPlanCreate.pom.ts
  src/app/(demos)/lesson-plan/create/page.tsx
Due: eslint src

Connect quiz source material selection to DB (#88)
  src/app/(demos)/quiz-generator/create/_components/SourceMaterialSelector.tsx
  src/app/(demos)/quiz-generator/create/page.tsx
Due: eslint src

FDA-20 update delete modal messages and success toasts (#89)
  src/app/(demos)/course-outline/_components/CourseOutlineListRecord.tsx
  src/app/(demos)/lesson-plan/_components/LessonPlanListRecord.tsx
  src/app/(demos)/personalized-content/_components/PersonalizedContentListRecord.tsx
  src/app/(demos)/quiz-generator/_components/QuizListRecord.tsx
Due: eslint src

Add Flatiron School logo + typography (#100)
  package-lock.json
  src/app/_components/NavigationPanel.spec.tsx
  src/app/_components/NavigationPanel.tsx
  src/app/globals.css
  src/app/layout.tsx
  supabase/seed.sql
  tailwind.config.js
Due: ./scripts/sqlfluff lint, supabase db lint, eslint src

restore missing edit files (#103)
  src/app/(demos)/personalized-content/[contentId]/_hooks/useEditPersonalizedContent.ts
  src/app/(demos)/personalized-content/[contentId]/edit/page.tsx
Due: eslint src

FDA-1 Fix question count display (#102)
  src/app/(demos)/quiz-generator/_components/QuizListRecord.spec.tsx
  src/app/(demos)/quiz-generator/_components/QuizListRecord.tsx
Due: eslint src

Path conditions:
  ./scripts/sqlfluff lint: any of: **/*.sql
  supabase db lint: any of: **/*.sql
  scripts/check-schema-staged: any of: supabase/migrations/*.sql
  eslint src: any of: **/*.{js,ts,jsx,tsx}
  ./scripts/yamllint: any of: **/*.{yaml,yml}
